body {
  font-family: "Arial", sans-serif;
  background: linear-gradient(to right, #f0e3ff, #d5c6ff);
  color: #4b3d6b;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background: #6c5ce7;
  color: white;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

nav a:hover {
  color: #ffdd57; /* Кольор для ховера */
}

h1,
h2 {
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}

main {
  flex: 1;
  padding: 20px;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  background: white;
  border: 2px solid #6c5ce7;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.product:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
.product img {
    max-width: 100%;
    max-height: 200px; /* Встановлено максимальну висоту */
    height: auto;
    object-fit: contain; /* Зберігає пропорції зображення */
    border-radius: 10px;
    animation: fadeIn 0.5s ease;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

footer {
  text-align: center;
  padding: 10px;
  background: #6c5ce7;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
}
